<?xml version="1.0"?>
<SysSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SoftName>兆基屋管</SoftName>
  <SoftSummary>net &amp;Vue前后端分離</SoftSummary>
  <WebUrl>http://192.168.1.218:9528</WebUrl>
  <SysLogo>http://192.168.1.218:9528/upload/20201109/2020110916592064727303.png</SysLogo>
  <CompanyName>兆基管理顧問公司</CompanyName>
  <Address />
  <Telphone>13524343287</Telphone>
  <Email>DzTgXXxaXxCpfLcm0xWO7ti9dJRQQ4e+</Email>
  <ICPCode />
  <PublicSecurityCode />
  <Webstatus>0</Webstatus>
  <Webclosereason />
  <Webcountcode />
  <Smsapiurl>https://api.mix2.zthysms.com/v2/sendSms</Smsapiurl>
  <Smsusername>BI4C58T7/eSjRxt+3NtIH0nihfh8nBq0xR1TS9WPrY0=</Smsusername>
  <Smspassword>BI4C58T7/eSjRxt+3NtIH0nihfh8nBq0xR1TS9WPrY0=</Smspassword>
  <Emailsmtp>qYOqZz7cKOuk3DBx14OX3LQ9JOhZx9DL</Emailsmtp>
  <Emailssl>true</Emailssl>
  <Emailport>465</Emailport>
  <Emailfrom>admincchouse@cch.com.tw</Emailfrom>
  <Emailusername>admincchouse@cch.com.tw</Emailusername>
  <Emailpassword>1+saZHOyT3q1Bei9oOIFfg==</Emailpassword>
  <Emailnickname>兆基</Emailnickname>
  <Fileserver>localhost</Fileserver>
  <LocalPath>C:\Users\alan\ws\yuebon\Yuebon.WebApi\wwwroot</LocalPath>
  <Filepath>upload</Filepath>
  <Filesave>1</Filesave>
  <Fileextension>gif,jpg,jpeg,png,bmp,rar,zip,doc,xls,txt,cer</Fileextension>
  <Thumbnailheight>100</Thumbnailheight>
  <Thumbnailwidth>100</Thumbnailwidth>
  <ChaochiFilepath>D:\zzz\image\</ChaochiFilepath>
  <ChaochiContractStatusUpdateUserId>2020100517554098226223</ChaochiContractStatusUpdateUserId>
  <ChaochiBuildingAdvertisementDaysUpdateUserId>2020100517554098226223</ChaochiBuildingAdvertisementDaysUpdateUserId>
  <ChaochiSalesAlias>sales</ChaochiSalesAlias>
  <ChaochiStoreManagerAlias>storemanager</ChaochiStoreManagerAlias>
  <ChaochiAPIURLDept>http://35.194.147.82/api/DepartmentInfo</ChaochiAPIURLDept>
  <ChaochiAPIURLUser>http://35.194.147.82/api/EmployeeInfo</ChaochiAPIURLUser>
  <ChaochiAPIAuthID>CRMAPI</ChaochiAPIAuthID>
  <ChaochiAPIAuthCode>Ye3b5PBlQOEPGxD+OZeLlT0F/yRN9c3ycJTYtGaWd1s=</ChaochiAPIAuthCode>
</SysSetting>